@import "../utils/variables";
@import "../utils/mixins";
.button--primary {
  background-color: $color-primary;
  color: $color-white;
  width: 89px;
  height: 45px;
  border-radius: 10px;
  @include flex(center, center);
  transition: 0.3s;
}
.button--primary:hover {
  background-color: rgb(146, 187, 225);
}
.button--orange {
  width: 149px;
  height: 50px;
  background-color: #f78b3b;
  color: $color-white;
  border-radius: 10px;
  @include flex();
  transition: 0.3s;
}
.button--orange:hover {
  background-color: $color-primary;
}
